recursive-include lazychat_erpnext *.json *.py *.js *.css *.md *.html *.svg *.png
recursive-include lazychat_erpnext/public *
graft lazychat_erpnext/doctype
graft lazychat_erpnext/desk_assistant
global-exclude __pycache__ *.py[cod]
